{% extends "base.html" %}

{% block titulo_pagina %}
{{ _('Editar Usuario') }} {{ user.nameUser }}
{% endblock %}

{% block content %}

<form action="{{ url_for('user.edit', id=user.idUser) }}" method="POST">

    <div class="form-group mb-3">
        <label for="nameUser">{{ _('Nombre:') }}</label>
        <input type="text" id="nameUser" name="nameUser" value="{{ user.nameUser }}" required class="form-control">
    </div>

    <div class="form-group mb-3">
        <label for="username">{{ _('Usuario:') }}</label>
        <input type="text" id="username" name="username" value="{{ user.username }}" required class="form-control">
    </div>

    <div class="form-group mb-3">
        <label for="email">{{ _('Correo:') }}</label>
        <input type="email" id="email" name="email" value="{{ user.email }}" required class="form-control">
    </div>

    <div class="form-group mb-3">
        <label for="passwordUser">{{ _('Contraseña:') }}</label>
        <input type="password" id="passwordUser" name="passwordUser" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">{{ _('Actualizar Usuario') }}</button>

</form>

{% endblock %}