{% extends 'base.html' %}

{% block titulo_pagina %}{{ _('Estado de Consumos') }}{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>{{ _('Reserva #') }}</th>
                <th>{{ _('Servicio') }}</th>
                <th>{{ _('Cantidad') }}</th>
                <th>{{ _('Subtotal') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for c in consumos %}
            <tr>
                <td>{{ c.idReserva }}</td>
                <td>{{ c.servicio.nombreServicio }}</td>
                <td>{{ c.cantidad }}</td>
                <td class="fw-bold">${{ c.subtotal }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}